<div class="card text-right">
    <div class="card-header p-3" style="background-image: linear-gradient(to right, #ebebeb, #e0e0e0, #d4d4d4, #c9c9c9, #bebebe);">
        {{ 'auth.forgot_password' | translate }}
    </div>
    <div class="card-body p-4">
        <form [formGroup]="forgotPasswordForm" (submit)="sendForgotPasswordForm()">
            <div class="mt-2 mb-4">
                <input type="email" class="form-control" formControlName="email" placeholder="{{ 'auth.email' | translate }}">
            </div>

            <button class="btn btn-primary float-end">{{ 'general.submit' | translate }}</button>
        </form>
    </div>
    <div class="card-footer p-3" style="background-image: linear-gradient(to right, #ebebeb, #e0e0e0, #d4d4d4, #c9c9c9, #bebebe);"></div>
</div>