<mat-card class="auth-card">
    <mat-card-title>{{ 'auth.change_password' | translate }}</mat-card-title>
    <form [formGroup]="changePasswordForm" (submit)="sendChangePasswordForm()">
        <mat-card-content class="auth-card-content">
            <mat-form-field class="auth-input" appearance="legacy">
                <input matInput type="text" formControlName="password" placeholder="{{ 'auth.current_password' | translate }}">
            </mat-form-field>
            <mat-form-field class="auth-input" appearance="legacy">
                <input matInput type="text" formControlName="currentPassword" placeholder="{{ 'auth.password' | translate }}">
            </mat-form-field>
            <mat-form-field class="auth-input" appearance="legacy">
                <input matInput type="text" formControlName="passwordConfirmation" placeholder="{{ 'auth.confirm_password' | translate }}">
            </mat-form-field>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions align="end">
            <button mat-raised-button>{{ 'general.back' | translate }}</button>
            <button mat-raised-button color="primary" type="submit">{{ 'auth.login' | translate }}</button>
        </mat-card-actions>
    </form>
</mat-card>