<div class="card text-right">
    <div class="card-header">
        {{ 'auth.login' | translate }}
    </div>
    <div class="card-body">
        <form [formGroup]="loginForm" (submit)="sendLogin()">
            <div class="mt-2 mb-4">
                <input type="text" class="form-control" formControlName="identifier" id="identifier" placeholder="{{ 'auth.enter_username_or_email' | translate }}">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" formControlName="password" id="password" placeholder="{{ 'auth.enter_username_or_email' | translate }}">
            </div>

            <button class="btn btn-primary float-end">{{ 'general.submit' | translate }}</button>
        </form>
    </div>
    <div class="card-footer">
    </div>
</div>