/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// authentication

.auth-card {
    padding: 32px !important;

    .auth-card-content {
        margin-top: 24px;
    }

    .auth-input {
        width: 100%;
    }
}