<div class="card text-right">
    <div class="card-header">
        {{ 'auth.reset_password' | translate }}
    </div>
    <div class="card-body">
        <form [formGroup]="resetPasswordForm" (submit)="sendResetPasswordForm()">
            <div class="mt-2 mb-4">
                <input type="text" class="form-control" formControlName="password" placeholder="{{ 'auth.password' | translate }}">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="{{ 'auth.confirm_password' | translate }}">
            </div>

            <button class="btn btn-primary float-end">{{ 'general.submit' | translate }}</button>
        </form>
    </div>
    <div class="card-footer">
    </div>
</div>